@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark */
  --theme1-mainBG: #202C36;
  --theme1-color1: #2B3844;
  --theme1-text: #FFFFFF;

  /* Light */
  --theme2-mainBG: #FAFAFA;
  --theme2-color1: #FFFFFF;
  --theme2-text: #000000;

  --violet: #8b5cf6
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.light-dark-toggle {
  svg {
    path {
      transition: fill 0.5s ease-in-out, stroke 0.5s ease-in-out;
    }
  }
}

html {
  &.dark {
    body {
      background-color: var(--theme1-mainBG);
      color: var(--theme1-text);
    }

    .bg-color1 {
      background-color: var(--theme1-color1);
    }

    .light-dark-toggle {
      svg {
        path {
          fill: white;
        }
      }
    }
  }

  &:not(.dark) {
    body {
      background-color: var(--theme2-color1);
      color: var(--theme2-text);
    }

    .bg-color1 {
      background-color: var(--theme2-color1);
    }

    .light-dark-toggle {
      svg {
        path {
          stroke: black;
        }
      }
    }
  }

  .react-select__control {
    border: none;
    border-radius: 5px;
    height: 100%;
  }

  .react-select__control {
    &--is-focused {
      box-shadow: 0 0 0 2px var(--violet);
    }
  }

  .react-select__single-value {
    color: var(--theme2-text);
  }

  &.dark {
    .react-select__control,
    .react-select__menu {
      background-color: var(--theme1-color1);
    }

    .react-select__option {

      &:hover {
        background-color: var(--violet);
      }
    }

    .react-select__single-value {
      color: var(--theme1-text);
    }
  }

  &:not(.dark) {
    .react-select__control {
      background-color: var(--theme2-color1);
    }

    .react-select__single-value {
      color: var(--theme2-text);
    }
  }
}
