@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark */
  --theme1-mainBG: #202C36;
  --theme1-color1: #2B3844;
  --theme1-text: #FFFFFF;

  /* Light */
  --theme2-mainBG: #FAFAFA;
  --theme2-color1: #FFFFFF;
  --theme2-text: #000000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.light-dark-toggle {
  svg {
    path {
      transition: fill 0.5s ease-in-out, stroke 0.5s ease-in-out;
    }
  }
}

html {
  &.dark {
    body {
      background-color: var(--theme1-mainBG);
      color: var(--theme1-text);
    }

    .bg-color1 {
      background-color: var(--theme1-color1);
    }

    .light-dark-toggle {
      svg {
        path {
          fill: white;
        }
      }
    }
  }

  &:not(.dark){
    body {
      background-color: var(--theme2-color1);
      color: var(--theme2-text);
    }

    .bg-color1 {
      background-color: var(--theme2-color1);
    }

    .light-dark-toggle {
      svg {
        path {
          stroke: black;
        }
      }
    }
  }
}
